# See https://help.github.com/articles/about-codeowners/

* @Derek-Richardson-Bose @Sisi-Sun-Bose @John-Potemri-Bose
/EC/ @Alfred-von-Campe-Bose @John-Potemri-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
