# See systemd.exec(5) man page for more information.
[Unit]
Description=Bose SoundTouch Services

[Service]
Restart=no
StandardOutput=syslog+console
StandardError=inherit
ExecStart=/opt/Bose/bin/SoundTouch start --wait
ExecStop=/opt/Bose/bin/SoundTouch stop

[Install]
WantedBy=multi-user.target
