# Tell udev to start UnlockService when rndis0 is added
KERNEL=="rndis0", ACTION=="add", SUBSYSTEM=="net", TAG+="systemd", ENV{SYSTEMD_WANTS}="unlock.service"

# Confusion time. Eddie userspace software decided to rename the rndis0
# interface to usb2. This confuses systemd, which then fails to stop the
# UnlockService when usb2 disappears.
#
# To resolve this, we need to add an explicit rule to stop UnlockService
# when usb2 disappears (but not when rndis0 disappears). This is hacky,
# and likely to break on other systems. Arguably, this should get moved
# into Eddie and Professor.
KERNEL=="rndis1", ACTION=="remove", SUBSYSTEM=="net", RUN+="/bin/systemctl stop unlock.service"

